<h1>Sign Up Confirmation</h1>
<div class="rows">
  <div.col-md-8>
    <h3>Are you sure these values are correct?</h3>
    <p>Email:<%= @user.name%></p>
    <p>Name:<%= @user.email%></p>
  </div>
  <div class="col-md-4">
    <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
    <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-danger', method: "get"%>
  </div>
</div>
